@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono";
  font-weight: 500;
  color: #ddc7a1;
  background-color: #141617;
  padding: 2rem;
}
